# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/


# env
.env
# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/

# Logs
*.log

# Build
dist/
build/